<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ohana0.spring.ex.ajax.repository.NewUserRepository">
	<select id="selectUserList" parameterType="com.ohana0.spring.ex.jsp.domain.User">
		SELECT `id`,`name`,`yyyymmdd`,`email`,`introduce`,`createdAt`,`updatedAt`
		FROM `new_user`
	
	</select>
	
	<insert id="insertUser" parameterType="map">
		INSERT INTO `new_user`
		(`name`,`yyyymmdd`,`email`,`introduce`)
		VALUE
		(
			#{name}
			,#{birthday}
			,#{email}
			,#{introduce}
		
		)

	</insert>
	<select id="selectCountEmail" parameterType="string" resultType="int">
		SELECT count(1) FROM `new_user` WHERE `email` = #{email};
	
	</select>
</mapper>